@font-face {
	font-family: 'Atkinson';
	font-style: normal;
	src: url('./EOT/Atkinson-Hyperlegible-Regular-102.eot');
	src: url('./WOFF2//Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2'),
		url('./WOFF/Atkinson-Hyperlegible-Regular-102.woff') format('woff'),
		url('./TTF/Atkinson-Hyperlegible-Regular-102.ttf') format('truetype'),
		url('./SVG/Atkinson-Hyperlegible-Regular-102.svg') format('svg');
	font-display: swap;
}

@font-face {
	font-family: 'Atkinson';
	font-style: normal;
	font-weight: bold;
	src: url('./EOT/Atkinson-Hyperlegible-Bold-102.eot');
	src: url('./WOFF2//Atkinson-Hyperlegible-Bold-102a.woff2') format('woff2'),
		url('./WOFF/Atkinson-Hyperlegible-Bold-102.woff') format('woff'),
		url('./TTF/Atkinson-Hyperlegible-Bold-102.ttf') format('truetype'),
		url('./SVG/Atkinson-Hyperlegible-Bold-102.svg') format('svg');
	font-display: swap;
}


@font-face {
	font-family: 'Atkinson';
	font-style: italic;
	src: url('./EOT/Atkinson-Hyperlegible-Italic-102.eot');
	src: url('./WOFF2//Atkinson-Hyperlegible-Italic-102a.woff2') format('woff2'),
		url('./WOFF/Atkinson-Hyperlegible-Italic-102.woff') format('woff'),
		url('./TTF/Atkinson-Hyperlegible-Italic-102.ttf') format('truetype'),
		url('./SVG/Atkinson-Hyperlegible-Italic-102.svg') format('svg');
	font-display: swap;
}

@font-face {
	font-family: 'Atkinson';
	font-style: italic;
	font-weight: bold;
	src: url('./EOT/Atkinson-Hyperlegible-BoldItalic-102.eot');
	src: url('./WOFF2//Atkinson-Hyperlegible-BoldItalic-102a.woff2') format('woff2'),
		url('./WOFF/Atkinson-Hyperlegible-BoldItalic-102.woff') format('woff'),
		url('./TTF/Atkinson-Hyperlegible-BoldItalic-102.ttf') format('truetype'),
		url('./SVG/Atkinson-Hyperlegible-BoldItalic-102.svg') format('svg');
	font-display: swap;
}
